
/* Navbar */
#main-nav .social {
  display: none;
}

#main-nav .nav-container {
  text-align: center;
}

/* Header */
#main-header {
  padding: 2rem;
}

/* Main */
#main .section-1 .wrap-container .main-container {
  grid-template-columns: 1fr 1fr;
}

#main .section-1 .wrap-container .main-container > *:first-child {
  grid-template-columns: 1fr;
  grid-column: auto;
}

#main .section-1 .wrap-container .main-container > *:last-child {
  grid-template-columns: 1fr;
  grid-column: auto;
}

/* Footer */
#main-footer .wrap-container h3 {
  font-size: 1rem;
}

#main-footer .wrap-container h2 {
  font-size: 1rem;
}

#main-footer .wrap-container p {
  line-height: 1.2;
  padding: 0.5rem;
}

#main-footer .wrap-container ul {
  padding: 0.5rem;
}

#main-footer .wrap-container ul li {
  padding: 0.5rem;
}

/* Article */
section .article-container .article1 h1 {
  font-size: 1.5rem;
}

section .article-container .article2 ul li {
  font-size: 1rem;
}

section .article-container .article1 > div {
  font-size: 0.6rem;
  padding: 0.5rem;
  margin-bottom: 1rem;
}

section .article-container .article1 .ent {
  font-size: 0.4rem;
  padding: 0.2rem;
  border-radius: 50px;
}

